* {
    margin: 0;
    padding: 0;
    color: white;
}

main {
    background: #011627;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    overflow: scroll;
}

section {
    margin-bottom: 50px;
}

a {
    color: #205796;
}

section input.search {
    position: absolute;
    transform: translateY(30px);
    display: none;
}

.button-search {
    position: absolute;
    right: 0;
    transform: translateY(30px) translateX(-300px);
    cursor: pointer;
}

section h2 {
    text-align: center;
    margin: 30px 0;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

label {
    position: absolute;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #011627;
    font-size: 14px;
}

.labelHidden {
    display: none;
}

input {
    width: 400px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-sizing: border-box;
}

li button {
    color: #011627;
    width: 80px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #011627;
    color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.box {
    background-color: #11263a;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
    position: relative;
}

.box-body {
    width: 98%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.flash-message {
    background-color: orange;
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 0;
    transform: translateY(-40px);
    transition: all 1s;
    box-sizing: border-box;
}

.flash-message p {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.close {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 20px;
    right: 8px;
    top: 0;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.flash {
    transform: translateY(100px);
}

@media screen and (max-width: 360px) {
    input, .flash-message, .box {
        width: 300px;
    }

    .box-body {
    height: 45px;
}

}
